.notification-menu {
    &.MuiModal-root {
        .MuiMenu-paper {
            max-width: 497px;
            width: 100%;
            .MuiMenu-list {
                .MuiMenuItem-root {
                    &:hover {
                        background-color: transparent;
                    }
                }
            }
        }
    }
}