.primary-table {
    .MuiTableContainer-root {
        .MuiTable-root {
            .MuiTableHead-root {
                .MuiTableRow-root {
                    .MuiTableCell-root {
                        @apply bg-primary500 border-none;

                        &:first-child {
                            border-radius: 8px 0 0 8px;
                        }

                        &:last-child {
                            border-radius: 0 8px 8px 0;
                        }

                        .MuiButtonBase-root {
                            @apply text-white text-sm font-normal;

                            .MuiSvgIcon-root {
                                @apply text-white;
                            }
                        }
                    }
                }
            }

            .MuiTableBody-root {
                .MuiTableRow-root {
                    .MuiTableCell-root {
                        @apply text-sm font-normal border-primary100;
                    }
                }

                .MuiTableRow-hover:hover {
                    @apply bg-primaryExtraLight;
                }
            }
        }
    }
}

.secondary-table {
    .MuiTableContainer-root {
        .MuiTable-root {
            .MuiTableHead-root {
                .MuiTableRow-root {
                    .MuiTableCell-root {
                        @apply bg-primary border-none;

                        &:first-child {
                            border-radius: 4px 0 0 0;
                        }

                        &:last-child {
                            border-radius: 0 4px 0 0;
                        }

                        .MuiButtonBase-root {
                            @apply text-white text-sm font-normal;

                            .MuiSvgIcon-root {
                                @apply text-white;
                            }
                        }
                    }
                }
            }

            .MuiTableBody-root {
                .MuiTableRow-root {
                    .MuiTableCell-root {
                        @apply text-sm font-normal border-primary100;
                        border-left: 1px solid rgba(224, 224, 224, 1);

                        &:last-child {
                            border-right: 1px solid rgba(224, 224, 224, 1);
                        }
                    }
                    &:last-child {
                        border-bottom: 1px solid rgba(224, 224, 224, 1);
                    }
                }
            }
        }
    }
    
}

.primary-table-attendance {
    .MuiTableContainer-root {
        .MuiTable-root {
            .MuiTableHead-root {
                .MuiTableRow-root {
                    .MuiTableCell-root {
                        @apply bg-primary500 border border-primary100 text-white;

                       

                        .MuiButtonBase-root {
                            @apply text-white text-sm font-normal;

                            .MuiSvgIcon-root {
                                @apply text-white;
                            }
                        }
                    }
                }
            }

            .MuiTableBody-root {
                .MuiTableRow-root {
                    .MuiTableCell-root {
                        @apply text-sm font-normal border border-primary100;
                    }
                }

                .MuiTableRow-hover:hover {
                    @apply bg-primaryExtraLight;
                }
            }
        }
    }
}

.permission-table {
    .MuiTableContainer-root {
        .MuiTable-root {
            .MuiTableHead-root {
                .MuiTableRow-root {
                    .MuiTableCell-root {
                        @apply bg-[#F5FBFF] border-none py-[6px];
                        .MuiButtonBase-root {
                            @apply text-white text-sm font-normal;

                            .MuiSvgIcon-root {
                                @apply text-white;
                            }
                        }
                    }
                }
            }

            .MuiTableBody-root {
                .MuiTableRow-root {
                    .MuiTableCell-root {
                        @apply text-sm font-normal border-primary100 py-3;
                    }
                }

                .MuiTableRow-hover:hover {
                    @apply bg-primaryExtraLight;
                }
            }
        }
    }
}