.primary-tabs {
    .MuiTabs-root {
        .MuiTabs-flexContainer {
            .MuiTab-root {
                min-height: 44px;
                @apply text-sm font-normal text-[#090A0B] capitalize opacity-100;
                &.Mui-selected {
                    @apply bg-primaryExtraLight rounded-lg text-primary;
                }
            }
        }
        .MuiTabs-indicator {
            @apply hidden;
        }
    }
}

.secondary-tabs {
    .MuiTabs-root {
        .MuiTabs-flexContainer {
            .MuiTab-root {
                min-height: 43px;
                @apply text-[13px] font-normal text-primary500 capitalize opacity-100;
            }
        }
        .MuiTabs-indicator {
            @apply bg-primary500 ;
        }
    }
}