// Sass @use statements (must be at the very top)
@use './assets/styles/accordion' as *;
@use './assets/styles/table' as *;
@use './assets/styles/tabs' as *;

// Import Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Tailwind directives
@tailwind base;
@tailwind components;
@tailwind utilities;

// Global font-family style
* {
    font-family: "Poppins", "Helvetica", "Arial", sans-serif !important;
}

// Sidebar navigation styles
.nav-item {
    &:hover {
        @apply bg-secondary100;

        .nav-item-icon {
            @apply hidden;
        }

        .nav-item-label {
            @apply text-primary;
        }

        .nav-item-icon-active {
            @apply block;
        }
    }

    &.active {
        @apply bg-secondary100;

        .nav-item-icon {
            @apply hidden;
        }

        .nav-item-label {
            @apply text-primary;
        }

        .nav-item-icon-active {
            @apply block;
        }
    }

    .nav-item-icon-active {
        @apply hidden;
    }
}

// Custom linear gradient background
.linear-gradient-bg {
    background: linear-gradient(90deg, #EDFFF2 68.05%, #FFFFFF 100%);
}
