// Sass @use statements (must be at the very top)
@use './assets/styles/accordion' as *;
@use './assets/styles/table' as *;
@use './assets/styles/tabs' as *;
@use './assets/styles/select' as *;
@use './assets/styles/menu' as *;

// Import Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Tailwind directives
@tailwind base;
@tailwind components;
@tailwind utilities;

// Global font-family style
* {
    font-family: "Poppins", "Helvetica", "Arial", sans-serif !important;
}

// Sidebar navigation styles
.nav-item {
    &:hover {
        @apply bg-secondary100;

        .nav-item-icon {
            @apply hidden;
        }

        .nav-item-label {
            @apply text-primary;
        }

        .nav-item-icon-active {
            @apply block;
        }
    }

    &.active {
        @apply bg-secondary100;

        .nav-item-icon {
            @apply hidden;
        }

        .nav-item-label {
            @apply text-primary;
        }

        .nav-item-icon-active {
            @apply block;
        }
    }

    .nav-item-icon-active {
        @apply hidden;
    }
}

// Custom linear gradient background
.linear-gradient-bg {
    background: linear-gradient(90deg, #EDFFF2 68.05%, #FFFFFF 100%);
}


//Mui Select popover
.MuiPopover-paper {
    &.MuiMenu-paper {
        @apply rounded-2xl;
    }
}

//date picker
.primary-datepicker {
    @apply p-0;

    .MuiFormControl-root {
        @apply w-full;
    }

    .MuiFormControl-root {
        @apply w-full;

        .MuiFormLabel-root {
            transform: translate(14px, 12px) scale(1);

            &.MuiInputLabel-shrink {
                transform: translate(14px, -9px) scale(0.75);
            }

            &.Mui-focused {
                @apply text-primary
            }

        }
    }

    .MuiInputBase-root {
        @apply h-[42px];
    }
}

// MUI checkbox
.MuiCheckbox-root {
    &.MuiCheckbox-colorPrimary {
        &.Mui-checked {
            color: #092E20 !important;
        }
    }
}

// Dashbard corner
.dash-card {
    .dash-corner {
        transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    }

    &:hover {
        .dash-corner {
            transform: scale(1.6); /* Increase the size */
            @apply bg-[#15B097]  /* Change color slightly */
        }
    }
}

//scrollbar design

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}